
.navbar-horizontal {
    height: 10%; 
    width: 100%; 
    position: fixed; 
    top: 0; left: 0; 
    background-color:#e4e4e4; 
    display: flex; 
}

.item {
    width: 100px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
  }